*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
    scroll-behavior:smooth;
}

body{
    background:black;
    color:white;
}


header{
    background:#111;
    padding:25px 10px;
    position:sticky;
    top:0;
    z-index:1000;
    color: #ff0000;
}

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}

#logo{
    width:80px;
    
}

.nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

.nav ul li{
    cursor:pointer;
    font-size:18px;
    transition:0.3s;
}

.nav ul li:hover{
    color:cyan;
}

.hero{
    height:120vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    
}

.hero img{
    width:100%;
    height:100%;
    border-radius:50%;
    border:4px solid cyan;
    object-fit:cover;
    margin-bottom:20px;
}

.hero h1{
    font-size:40px;
    margin-bottom:10px;
}


.btns{
    margin-top:20px;
    display:block;
}

.btn{
    padding:14px 30px;
    text-decoration:none;
    border-radius:10px;
    margin:10px;
    font-size:18px;
    transition:0.3s;
    display: block;
}

.primary{
    background:cyan;
    color:black;
}

.secondary{
    border:2px solid cyan;
    color:cyan;
}

.btn:hover{
    transform:scale(1.05);
}

section{
    padding: 40px;
    
}

.title{
    text-align:center;
    font-size:45px;
    margin-bottom:30px;
    color:cyan;
}



.about p{
    max-width:900px;
    margin:auto;
    text-align:center;
    margin-bottom: 15px;
    color:#ccc;
    font-size:19px;
}


.skills-container{
    display:inline;
    gap:15px;  
     
    
}

.skill-box{
    background:#111;
    padding:40px;
    margin-bottom: 10px;
    text-align:center;
    border-radius:20px;
    border:1px solid #333;
    transition:0.4s;
    font-size:20px;
}

.skill-box:hover{
    transform:translateY(-10px);
    border-color:cyan;
    box-shadow:0 0 20px cyan;
   
}

.projects-container{
    display:grid;
    gap:30px;
}

.project-card{
    background:#111;
    border-radius:20px;
    overflow:hidden;
    transition:0.3s;
}

.project-card:hover{
    transform:scale(1.08);
}

.project-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.project-content{
    padding:25px;
}

.project-content h3{
    margin-bottom:15px;
    font-size:28px;
    text-align: center;
}

.project-content p{
    text-align: center;
    color:#ccc;
    line-height:1.7;
}

.contact-form{
    max-width:600px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-form input{
    padding:15px;
    background:#111;
    border:1px solid #333;
    border-radius:10px;
    color:white;
    font-size:16px;
}

.contact-form button{
    padding:15px;
    border:none;
    background:cyan;
    color:black;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.contact-form button:hover{
    transform:scale(1.05);
}

input {
  text-align: center;
}

footer{
    text-align:center;
    padding:30px;
    border-top:1px solid #222;
    color:#888;
}

.fa-facebook{
   color: #0000ff;
}
.fa-google{
    color:lightgreen;
}

.fa-youtube{
    color: #ff0000;
}

@media(max-width:648px){

    header{
        padding:20px;
    }
    
    #logo{
        margin: auto;
    }

    .nav{
        flex-direction:column;
        gap:20px;
    }

    .hero h1{
        font-size:40px;
    }

    section{
        padding:80px 20px;
    }

    .hero {
        flex-direction: column;
    }
}





